.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #ff0000;
  color: #e0e0e0;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}